{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}{{ trans(key="blog", lang=lang) }} - {{ config.title }}{% endblock title %}



{% block content %}
 <div class="text-block">
        <h2> <b> Table of Contents </b> </h2>
        <p> In this first dossier from Heatwave, we
            present a series of short articles by comrades from various countries
            about the local impacts of the second Trump administration's
            international policies &mdash; focusing specifically on the tariffs. Read our tariff dossier editorial 
            <a href="https://heatwavemag.info/dossiers/tariffs/dossmain-051825/">here.</a>
        </p>
 </div> 
 <hr> 
<br />
<main id="main" tabindex="-1">
    {% block heading %}
    <p>
        {% if section.relative_path is ending_with("." ~ lang ~ ".md") %}
            {% set tags_url = "/" ~ lang ~ "/tags" %}
        {% else %}
            {% set tags_url = "/tags" %}
        {% endif %}
        
        <!--{{ trans(key="view_by", lang=lang) }}: <a href={{ tags_url }}>{{ trans(key="tags", lang=lang) }}-->

        </a>
    </p>
    {% endblock heading %}
    {% if paginator.pages %}
        {% for page in paginator.pages %}
            {{ page_macros::page_listing(page=page) }}
        {% endfor %}
        {{ page_macros::page_pagination(paginator=paginator) }}
    {% else %}
        {% for page in section.pages %}
            {{ page_macros::page_listing(page=page) }}
        {% endfor %}
    {% endif %}
</main>
{% endblock content %}
