{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}{{ trans(key="blog", lang=lang) }} - {{ config.title }}{% endblock title %}

{% block content %}
 <div class="text-block">
        <h2> <b> Table of Contents </b> </h2>
        <p> "The name "Heatwave" echoes that of an old Situationist magazine ("Britain's most incandescent journal" of 1966), 
            but with added urgency in an era where every summer is the hottest on record. While the statistical certainty of 
            catastrophe is inescapable, "revolt" names many species of conflagration, including that peculiar variety we call 
            communism. We must sift through the ashes to find it." &mdash; Read the pre-print editorial for Issue No 1
            <a href="https://heatwavemag.info/magazine/issue1/preprint-editorial-031125/">here.</a> Order your copy of Heatwave Issue 
            No. 1 <a href="https://shop.haters.life/products/heatwave-1">here!</a>
        </p>
 </div> 
 <hr> 
<br />
<main id="main" tabindex="-1">
    {% block heading %}
    <p>
        {% if section.relative_path is ending_with("." ~ lang ~ ".md") %}
            {% set tags_url = "/" ~ lang ~ "/tags" %}
        {% else %}
            {% set tags_url = "/tags" %}
        {% endif %}
        
        <!--{{ trans(key="view_by", lang=lang) }}: <a href={{ tags_url }}>{{ trans(key="tags", lang=lang) }}-->

        </a>
    </p>
    {% endblock heading %}
    {% if paginator.pages %}
        {% for page in paginator.pages %}
            {{ page_macros::page_listing(page=page) }}
        {% endfor %}
        {{ page_macros::page_pagination(paginator=paginator) }}
    {% else %}
        {% for page in section.pages %}
            {{ page_macros::page_listing(page=page) }}
        {% endfor %}
    {% endif %}
</main>
{% endblock content %}
