{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}{{ trans(key="about", lang=lang) }} {{config.extra.ogp.first_name}} {{config.extra.ogp.last_name}}{% endblock title %}

{% block ogp_head %}
    <meta property="og:locale" content="{{ config.extra.ogp.locale }}">
    <meta property="twitter:card" content="summary_large_image">    
    <meta property="og:title" content="{{ trans(key="about", lang=lang) }} {{config.extra.ogp.first_name}} {{config.extra.ogp.last_name}}">
    <meta property="twitter:title" content="{{ trans(key="about", lang=lang) }} {{config.extra.ogp.first_name}} {{config.extra.ogp.last_name}}">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ page.permalink | safe }}">
    <meta property="twitter:url"  content="{{ page.permalink | safe }}">
    {% set image = resize_image(path="/static/banner.png", width=160, op="fit_width", quality=90) %}
    <meta property="og:image" content="{{ image.url | safe }}">
    <meta property="twitter:image" content="{{ image.url | safe }}">
<meta name="twitter:description" content="Heatwave is a multi-media project dedicated to sharing experiences and strategizing together in preparation for the next round of struggles to break free from the infernal prison of capital.">
<script>
    function ml_webform_success_24140983() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-24140983 .row-success').show();
      $('.ml-subscribe-form-24140983 .row-form').hide();
    }
   </script>
    <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
    <script>fetch("https://assets.mailerlite.com/jsonp/1412299/forms/149967136573359629/takel")</script>
{% endblock %}

{% block content %}
<article class="post">
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <div class="content">
            {{ page.content | safe }}
        </div>
        <div id="mlb2-24140983" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-24140983">
      <div class="ml-form-align-center ">
        <div class="ml-form-embedWrapper embedForm">
            <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
            <div class="ml-form-embedContent" style=" ">
                <h4>Keep up with Heatwave</h4>
                <p>Signup for updates on the project</p>
            </div>
            <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/1412299/forms/149967136573359629/subscribe" data-code="" method="post" target="_blank">
              <div class="ml-form-formContent">
                  <div class="ml-form-fieldRow ml-last-item">
                    <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                      <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
                    </div>
                  </div>
              </div>
              <input type="hidden" name="ml-submit" value="1">
              <div class="ml-form-embedSubmit">
                  <button type="submit" class="primary">Subscribe</button>
                <button disabled="disabled" style="display: none;" type="button" class="loading">
                  <div class="ml-form-embedSubmitLoad"></div>
                  <span class="sr-only">Loading...</span>
                </button>
              </div>
              <input type="hidden" name="anticsrf" value="true">
            </form>
          </div>
          <div class="ml-form-successBody row-success" style="display: none">
            <div class="ml-form-successContent">
                <h4>Thank you!</h4>
                  <p>You have successfully joined our subscriber list.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</article>
{% endblock content %}
